node_modules

terraform/.terraform
terraform/variables.tfvars
terraform/.terraform.lock.hcl


# Lambda layers
backend/lambda-layers/**/*.zip

docs/email-mamagement-app-7b0bce572114.json
docs/gcp-tfstate.sh
docs/update-modules.sh