@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$primary:       #2c58bd;
$secondary:     #6c757d;
$success:       #28a745;
$info:          #17a2b8;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #f8f9fa;
$dark:          #343a40;
$bg:            #ffffff;
$disabled-btn:  transparent;
$disabled-text: $black;

// Bootstrap component specific overrides
$btn-disabled-opacity: 0.2;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400 !important;
}

.card, .navbar {
  background-color: $bg;
}

// Global border styles
.card,
.dropdown-menu,
.modal-content,
.toast,
.btn:not(.btn-link),
.nav-tabs .nav-link.active {
  border: none;
  border: 1px solid $black !important;
  box-shadow: none !important;
}


.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  color: $disabled-text;
  pointer-events: none;
  background-color: $disabled-btn;
  border-color: $black;
  opacity: 1;
}

.alert {
  border-style: solid;
}


.navbar {
  border: none;
  border-bottom: 1px solid $black !important;
  box-shadow: none !important;
}

// Input element borders
input,
textarea,
select {
  border: 1px solid $black !important;
  &:focus {
    border: 1px solid $black !important;
    box-shadow: none !important;
  }
}

// Remove box shadows globally except for inputs
*:not(input):not(textarea):not(select) {
  &.shadow,
  &.shadow-sm,
  &.shadow-lg {
    box-shadow: none !important;
  }
}

// Override Bootstrap's default focus states except for form elements
*:not(input):not(textarea):not(select):not(button.btn-link) {
  &:focus {
    box-shadow: none !important;
    border-color: $black !important;
    border-width: 1px !important;
  }
}

a {
    color: $black;
}