
  <div class="row justify-content-center mt-4">
    <div class="col-lg-8">
      <section class="text-center">
        <p class="mb-3">
          Created by <a href="https://linkedin.com/in/dmitrygrinko" target="_blank">Dmitry Grinko
          </a> in March 2025.</p>

          <p class="mb-6">
            The source code is available on <a href="https://github.com/dmitry-grinko/email-management-system" target="_blank">
              GitHub
            </a>.
          </p>
      </section>
    </div>
  </div>